@media screen and (max-width: 360px) {
  .indexgal ul li{
    clear: both;
    position: relative;
    display: block;
    background: yellow;
  }
  #index_about {
    margin-left: 2% auto;
  }
  #index_fashion {
    margin-left: 2% auto;
  }
  #index_artwork {
    margin:2% auto;
    margin-left: 33%;
  }
  #index_contact {
    margin: 2% auto;
    margin-left: 33%;
  }
  
}
    
  