@media screen and (max-width: 440px) {
  .indexgal ul li{
    clear: both;
    display: block;    
  }
  #index_about {
   margin-left: 25%;

  }
  #index_fashion {
   margin-left: 25%;
  }
  #index_artwork {
    margin:2% auto;
    margin-left: 25%;
  }
  #index_contact {
    margin: 2% auto;
    margin-left: 25%;
  }
.social{
  clear: both;
  margin-top: 20%;
}
}
    
  